/* You can add global styles to this file, and also import other style files */
@import url('//fonts.googleapis.com/css?family=Roboto|Material+Icons');
/* @import '../node_modules/uikit/dist/css/uikit-core.min.css'; */
html, body {
    font-family: 'Roboto';
    
}

body{
    margin: 0;

    
}